@model IEnumerable<WebAMVC.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: black; /* Roxo escuro */
            color: #fff; /* Texto branco */
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
        }

        h1 {
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #fff; /* Branco */
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #8e44ad; /* Roxo médio */
        }

        a {
            color: #fff;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

            a:hover {
                background-color: #9b59b6; /* Roxo claro (hover) */
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Página de Produtos</h1>

        <p>
            <a href="@Url.Action("Create")" style="background-color: #8e44ad;">Inserir Novo Produto</a>
        </p>

        <table>
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Descricao</td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Id })" style="background-color: #2980b9;">Editar</a>
                            <a href="@Url.Action("Details", new { id = item.Id })" style="background-color: #27ae60;">Detalhes</a>
                            <a href="@Url.Action("Delete", new { id = item.Id })" style="background-color: #c0392b;">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
